{% extends "myapp/base.html" %} 
{% block title %}{{ post.title }}{% endblock %}
{% block content %}




 <!-- Page content-->
        <div class="container mt-5">
            <div class="row">
                <div class="col-lg-8 border mb-4">
                    <!-- Post content-->
                    <article class="container mt-3">
                        <!-- Post header-->
                        <header class="mb-4">
                            <!-- Post title-->
                            <h1 class="fw-bolder mb-1">{{ post.title }}</h1>
                            <!-- Post meta content-->
                            <div class="text-muted fst-italic mb-2">Published {{ post.publish|date:"F j, Y" }} by {{ post.author }}</div>
                           
                        </header>
                        <!-- Preview image figure-->
                        <figure class="mb-4"><img class="img-fluid rounded" src="https://www.python.org/static/community_logos/python-logo-master-v3-TM.png" alt="..." /></figure>
                        <!-- Post content-->
                        <section class="mb-5">
                            <p class="fs-5 mb-4">{{ post.body|linebreaks }} </p>
                    
                        </section>
                    </article>
                    <!-- Comments section-->
                    <section class="mb-5">
                        <div class="card bg-light">
                            <div class="card-body">
                                <!-- Comment form-->

                    


                             

                             {% include 'myapp/post/featured.html' %}
                                
                               
                                <!-- Single comment-->
                                {% with comments.count as total_comments %}
                                <h2>Comment{{ total_comments|pluralize }} ({{ total_comments }})</h2>
                                {% endwith %}
                                <div >
                                    {% for comment in comments %}
                                    <div class="ms-3 border-bottom my-3">
                                    <div>
                                    {% comment %} <img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /> {% endcomment %}
            
                                    <div class="text-muted fst-italic mb-2">Published {{ comment.created |date:"F j, Y" }} by <b> {{ comment.name }} </b> </div>
              
                                     </div>
              
                                        <p>{{ comment.body}}</p>
                                       
                                    </div>
                                   
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <!-- Side widgets-->
                <div class="col-lg-4">
                    <!-- Search widget-->
                    
                    <!-- Categories widget-->
                   
                    <!-- Side widget-->
                    <div class="card mb-4">
                        <div class="card-header">Similar post</div>
                        <div class="card-body"> 
                       
                        {% for post in similar_posts %}
                        <li><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></li>
                        
                        
                        {% empty %}
                        There are no similar posts yet.
                        {% endfor %}</div>
                      
          
                     


                    </div>
                </div>
            </div>
        </div>

        {% endblock %}
