
{% load blog_tags %}

{% get_most_features_posts as most_features_posts %}
              


  {% for post in most_features_posts %}          
<div class="card mb-4">
  <a href="{{ post.get_absolute_url }}"
  ><img
    class="card-img-top"
    src="https://www.python.org/static/community_logos/python-logo-master-v3-TM.png"
    alt="..."
/></a>
    <div class="card-body">
       
      
      <h2 class="card-title">{{ post.title }}</h2>
      <div class="small text-muted">
        Published {{ post.publish|date:"F j, Y" }} by {{ post.author }}
      </div>
      <b>Tags:</b>
              {% for tag in post.tags.all %}
               <a class="badge bg-secondary text-decoration-none link-light" href="{% url "myapp:post_list_by_tag" tag.slug %}">
              {{ tag.name }}</a>
              {% if not forloop.last %}  {% endif %}
              {% endfor %}

      <p class="card-text">
        {{ post.body|truncatewords_html:40|linebreaks }}
      </p>
      <a class="btn btn-primary" href="{{ post.get_absolute_url }}">Read more →</a>
    </div>
  </div>

  {% endfor %} 